<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.GastoActivity"
            android:label="@string/title_activity_gasto"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".activities.CategoriaGastoActivity"
            android:label="@string/title_activity_categoria"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".activities.AdicionarCategoriaActivity"
            android:label="@string/title_activity_adicionar_categoria"
            android:parentActivityName=".activities.CategoriaGastoActivity" />

        <activity
            android:name=".activities.AdicionarGastoActivity"
            android:label="@string/title_adicionar_editar_gasto"
            android:parentActivityName=".activities.GastoActivity" />

        <activity
            android:name=".activities.GastosFuturosActivity"
            android:label="@string/gastos_futuros"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".activities.AdicionarGastoFuturoActivity"
            android:label="@string/adicionar_gasto_futuro"
            android:parentActivityName=".activities.GastosFuturosActivity" />

        <activity
            android:name=".activities.FaculdadeActivity"
            android:exported="false"
            android:label="Faculdade"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".activities.FinancasActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication"/>

        <activity
            android:name=".activities.AdicionarHorarioActivity"
            android:label="@string/adicionar_horario"
            android:parentActivityName=".activities.FaculdadeActivity" />

    </application>

</manifest>